<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Properties>
    <Names />
  </Properties>
  <Display fontSize="10">
    <Graphs>
      <Graph name="MUn" number="0" applyLayout="true">
        <Node name="MUn" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
      </Graph>
      <Graph name="EnvUn" number="0" applyLayout="true">
        <Node name="EnvUn" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
      </Graph>
      <Graph name="MF" number="0" applyLayout="true">
        <Node name="VLV" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="MF" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="VF" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="VUn" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
      </Graph>
      <Graph name="EnvF" number="0" applyLayout="true">
        <Node name="VEnvUn" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="VEnv2" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="EnvF" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="VEnvLV" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="VEnv1" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
      </Graph>
      <Graph name="MLV" number="0" applyLayout="true">
        <Node name="VUnL" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="MLV" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="VFL" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="VLVL" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
      </Graph>
      <Graph name="EnvLV" number="0" applyLayout="true">
        <Node name="VUnL" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="MLV" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="VFL" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="VEnvUnL" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="VEnvFL" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="VEnv1L" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="VEnv2L" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="EnvLV" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="VLVL" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
      </Graph>
    </Graphs>
  </Display>
</Configuration>

