<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Properties>
    <Names />
  </Properties>
  <Display currentTabName="MinerLazy" currentTabNumber="0" fontSize="10">
    <Graphs>
      <Graph name="MinerUnfair" number="0" applyLayout="false">
        <Node name="MinerUnfair" number="0">
          <x>529.0</x>
          <y>104.0</y>
        </Node>
      </Graph>
      <Graph name="EnvironmentUnfair" number="0" applyLayout="false">
        <Node name="EnvironmentUnfair" number="0">
          <x>506.0</x>
          <y>11.0</y>
        </Node>
      </Graph>
      <Graph name="MinerFair" number="0" applyLayout="false">
        <Node name="MinerFair" number="0">
          <x>223.0</x>
          <y>90.0</y>
        </Node>
        <Node name="VerifierFair" number="0">
          <x>314.0</x>
          <y>241.0</y>
        </Node>
        <Node name="VerifierUnfair" number="0">
          <x>904.0</x>
          <y>201.0</y>
        </Node>
      </Graph>
      <Graph name="EnvironmentFair" number="0" applyLayout="false">
        <Node name="VerifierEnvironment1" number="0">
          <x>577.0</x>
          <y>14.0</y>
        </Node>
        <Node name="VerifierEnvironmentUnfair" number="0">
          <x>546.0</x>
          <y>191.0</y>
        </Node>
        <Node name="VerifierEnvironment2" number="0">
          <x>996.0</x>
          <y>133.0</y>
        </Node>
        <Node name="EnvironmentFair" number="0">
          <x>152.0</x>
          <y>95.0</y>
        </Node>
      </Graph>
      <Graph name="MinerLazy" number="0" applyLayout="false">
        <Node name="MinerLazy" number="0">
          <x>618.0</x>
          <y>97.0</y>
        </Node>
      </Graph>
    </Graphs>
  </Display>
</Configuration>

