<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Properties>
    <Names />
  </Properties>
  <Display fontSize="9">
    <Graphs>
      <Graph name="MinerUnfair" number="0" applyLayout="false">
        <Node name="MinerUnfair" number="0">
          <x>526.0</x>
          <y>10.0</y>
        </Node>
      </Graph>
      <Graph name="EnvironmentUnfair" number="0" applyLayout="false">
        <Node name="EnvironmentUnfair" number="0">
          <x>419.0</x>
          <y>21.0</y>
        </Node>
      </Graph>
      <Graph name="MinerFair" number="0" applyLayout="false">
        <Node name="MinerFair" number="0">
          <x>198.0</x>
          <y>21.0</y>
        </Node>
        <Node name="VerifierFair" number="0">
          <x>314.0</x>
          <y>241.0</y>
        </Node>
        <Node name="VerifierUnfair" number="0">
          <x>859.0</x>
          <y>74.0</y>
        </Node>
        <Node name="EnvironmentUnfair" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
      </Graph>
      <Graph name="EnvironmentFair" number="0" applyLayout="false">
        <Node name="EnvironmentFair" number="0">
          <x>152.0</x>
          <y>95.0</y>
        </Node>
        <Node name="VerifierEnvironment1" number="0">
          <x>577.0</x>
          <y>14.0</y>
        </Node>
        <Node name="VerifierEnvironmentUnfair" number="0">
          <x>546.0</x>
          <y>191.0</y>
        </Node>
        <Node name="VerifierEnvironment2" number="0">
          <x>988.0</x>
          <y>199.0</y>
        </Node>
      </Graph>
    </Graphs>
  </Display>
</Configuration>

